.card{
    box-shadow: 0px 0px 8px 1px black;
    margin:10px 0px;
}



.header-services{
    position: sticky;
}

.services-list{
    max-height: 27rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

