
<div class="container p-5 text-center">
    <div class="row">
        <div class="col-md-6">
            <div class="imagen container p-5">
                <img src="../../../../assets/pics/cindy.jpg" alt="cindy's pic">
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="description container p-5">
                <div class="container about-title text-center">
                    <h3>About me</h3>
                </div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur non quasi sequi modi accusamus ad error numquam, est tenetur explicabo. Aspernatur ut omnis exercitationem officia cumque neque, modi harum.</span>
            </div>
        </div>
    </div>
    
</div>
