*{
    color: cornsilk;
}

.login-section{
    position: absolute;
    background-color: transparent;
    z-index: 100;
    top:10%;
    max-width: 100%;
    margin:auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login-wrapper{
    background-color: rgba(0, 0, 0, 0.842);
    max-width: 30rem;
    margin: auto;
}

.text-holder{
    width: fit-content;
    margin: auto;
}


input{
    border-radius: 10%;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    background-color: transparent;
    margin: auto;
    
}
.button-login{
    border-radius: 40%;
}


