<div class="container login-section">
    <div class="card login-wrapper">
        <div class="card-body body-wrapper">
            <div class="text-header text-center">
                <div class="text-holder">
                    <h2>Login</h2>
                </div>
                
            </div>
            <div class="form-login">
                <form [formGroup]="loginForm" class="form text-center" >
                    <label class="mt-3" for="email">Email</label><br>
                    <input  formControlName="email" type="email" name="email" id="email"  ><br>
                    <label class="mt-3" for="password">Contraseña</label><br>
                    <input formControlName="password" type="password" name="password" id="password"><br>
                    <button class="button-login btn btn-primary mt-5" (click)="sendLogin()" [disabled]="loginForm.invalid" >Enviar</button>
                </form>
            </div>
        </div>
        
    </div>
</div>
<router-outlet></router-outlet>
