<!-- Header component -->
<div>
    <header>
        <app-header></app-header>
    </header>
    <!-- ================End Header================================ -->
    
    <!-- Body -->
    
    <app-login-modal *ngIf="show"></app-login-modal>
    
    <body>
       
        <!-- Presentation component -->
        <section class="presentation">
            <app-presentation></app-presentation>
        </section>
        <!-- ================End Presentation component================== -->
        
        <!-- carousel component  -->
        <section class="carousel-section">
            <app-carousel></app-carousel>
        </section>
        <!-- =================End Carousel component===================== -->
        
        <!-- services component -->
        <section class="services-section">
            <app-services></app-services>
        </section>
        <!-- =================End Services component===================== -->
        
        <!-- About component -->
        <section class="about-section">
            <app-about></app-about>
        </section>
        <!-- ================End About component========================= -->
    </body>
    <!-- =============================End Body=========================== -->
    
    <!-- footer component -->
    <footer>
        <app-footer></app-footer>
    </footer>
    <!-- ============================End footer component=============== -->
</div>
<router-outlet></router-outlet>


