<section class="services-section container-fluid">
<div class="container title-section text-center ">
    <h3>Nuestros Servicios</h3>
</div>
    <div class="container-fluid services-wrapper">
        <div class="row divs-grapper">
            <div class="col-md-12 col services-container">
                <div class="container list-services-wrapper">
                    
                    <div class="theService">
                        <app-list-serv></app-list-serv>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-5 col clock-container">
                <div class="container clock-timing-wrapper">
                    <div class="title-wrapper text-center">
                        <h4>Horarios</h4>
                    </div>
                    <div class="row clock-row">
                        <div class="col-md-6 from-clock-container">
                            Aqui va el reloj para mostrar hora de inicio
                        </div>
                        <div class="col-md-6 to-clock-container">
                            Aqui va el reloj para mostrar hora de cierre
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
