<section class="services-section container-fluid">
    
    <div class="container services-wrapper">
        <div class="container title-section text-left ">
            <h3 class="mb-5"><b>Nuestros Servicios</b></h3>
        </div>
        <div class="row divs-grapper">
            <div class="col-md-12 col services-container">
                <div class="container list-services-wrapper">
                    <div class="theService">
                        <app-list-serv></app-list-serv>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
