
<header>
    <div class="fixed-top d-md-none">
      <nav class="navbar navbar-dark bg-dark p-0 my-0">
        <i class="navbar-toggler-icon"></i>
        
        <div class="side-nav-wrapper">
          <div class="side-nav  bg-dark ">
            <div class="container">
              <div class="menu-text mt-5 ">
                <h4>Menu</h4>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    
    <nav class="nav-mobile nav justify-content-center navbar-light bg-dark d-none d-md-flex p-3">
        <a class="nav-link active fa fa-home" href="#"><b>Inicio</b> </a>
        <a class="nav-link fa fa-book" href="#"><b>Servicios</b> </a>
        <a class="nav-link fa fa-phone" href="#"><b>Contactenos</b> </a>
        
    </nav>
    
    
</header>


