
<header>
    <div class="fixed-top d-md-none">
      <nav class="navbar navbar-dark bg-dark p-0 my-0">
        <i class="navbar-toggler-icon"></i>
        
        <div class="side-nav-wrapper">
          <div class="side-nav  bg-dark ">
            <div class="container">
              <div class="menu-text mt-5 ">
                <h4>Menu</h4>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    
    <nav class="nav-mobile nav justify-content-center navbar-light bg-dark d-none d-md-flex">
        <a class="nav-link active" href="#">Inicio</a>
        <a class="nav-link" href="#">Servicios</a>
        <a class="nav-link disabled" href="#">Login</a>
    </nav>
</header>